*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*debug*/

.debug .d-flex{
    height: 100%;
}

.debug .d-flex > div {
    border: dotted 1px red;
    height: 100%;
}

.debug #plans{
    height: 600px;
}

.debug #clients{
    background-color: blue;
    margin-top: 200px;
}

/*regole comuni*/
.bt-small{
    background-color: #0061FF;
    box-shadow: none;
    padding: 5px;
    border: 0;
    color: #fff;
}

.bt-big{
    background-color: #0061FF;
    box-shadow: none;
    padding: 5px;
    border: 0;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.container-small{
    width: 1000px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-60 .jumbo-img{
    width: 60%;
    background-size: cover;
}

.wrap{
    flex-wrap: wrap;
}

/*header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

header nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

header a{
    margin: 5px;
    color: black;
    text-decoration: none;
}

/*main*/
h1{
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

main{
    margin-top: 100px;
}

#jumbotron{
    background-color: #B4D0E7;
}

i{
    font-size: 40px;
    margin-top: 40px;
}

.pulsanti{
    margin-bottom: 20px;
}

.plans .container-small, h3{
    margin-top: 30px;
    margin-bottom: 20px;
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #005DFF;
    display: inline-block;
}

.white{
    border: 1px solid gray;
    margin-left: 20px;
}

.title{
    text-align: center;
    border: 1px solid black;
}

.other{
    text-align: left;
    border: 1px solid black;
}

.span-block{
    display: block;
    margin-bottom: 10px;
}

.square-container {
    display: flex;
}

.square{
    border: solid 1px #fff;
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.square-small{
    width: 50%;
    height: 50%;
    border: dotted 1px #fff;
}