*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header {
    display: flex;
}

header .topbar {
    height: 50px; 
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 9999;
    top: 0;
    left:0;
    display: flex;
    justify-content: space-between;
}

header .topbar .menu-sx{
    height: 50px;
    width: 40%;
    justify-content: flex-start;
    background-color: red;
}

header .topbar .menu-dx{
    height: 50px;
    width: 40%;
    justify-content: flex-end;
    background-color: red;
}

header .header-body{
    background-color: blue;
    width: 100%;
    height: 900px;
}

.container-big{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header .nav-hd{
    display: flex;

    max-width: 80%;
    height: 500px;
    background-color: violet;
    justify-content: space-around;
}

.header-body .titolo{
    display: flex;
    max-width: 80%;
    margin-bottom: 10px;
}

header .nav-hd .text{
    border: 1px black dashed;
    width: 20%;
    height: fit-content;  
}

header .nav-hd .img-hd{
    border: 1px black dashed;
    width: 70%;
    height: 80%; 
    display: flex;
    align-items: flex-end;
}



/*main*/

.container{
    background-color: black;
    width: 100%;
    height: 100vh;
}